## Auto generated providers.tf ##
## Updated on: {{ timestamp }} ##

provider "aws" {
  region = "{{ provider_region }}"
  assume_role {
    role_arn    = "{{ target_admin_role_arn }}"
  }
  default_tags {
    tags = {
      Application                 = "AFT"
      ManagedBy                   = "AFT-Terraform"
      gitRepo                     = "aft-global-customizations"
      Owner                       = "Platform"
    }
  }
}
